.header {
  display: flex;
  justify-content: center;
  background-color: #3bcbbe;
  p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 14px;
    color: white;
  }
}
