<div class="main">
  <div class="head">
    <p>Next Day Delivery</p>
    <hr />
    <p>Free removal & recycling old products</p>
    <hr />
    <p>Best Price Guarantee</p>
    <hr />
    <p>24/7 Australian Customer Support</p>
    <hr />
    <p class="contact">Contact Us</p>
  </div>
  <div class="filter-section">
    <div>
      <img src="assets/OIP.jpg" alt="" />
    </div>
    <div class="filter">
      <input type="text" placeholder="Enter search text here" />
    </div>
  </div>
</div>
<div>
  <div class="category-heading">
    <h1>Products</h1>
  </div>
  <div>
    <app-card [cardData]="dummyData"></app-card>
  </div>
</div>
